<div class="container">
    <div class="col-md-12">
      <h5 style="color: #e74c3c">Bảng điểm sinh viên</h5>
      <i class="fas fa-user-graduate"></i>
      <select [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)" class="selectInput">
        <option *ngFor="let student of studentsName" [ngValue]="student" selected="selectedValue">{{student}}</option>
      </select>
      <p>GPA: {{gpa}}</p>
    </div>
    <div class="row g-0"> 
            <!-- score table -->
            <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Tên môn học</th>
                    <th scope="col">Điểm hệ số 4</th>
                    <th scope="col">Điểm hệ số 10</th>
                    <th scope="col">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="hocky">Học kì I - Năm học 2018-2019</tr>
            
                  <tr class="hocky">Học kì II - Năm học 2018-2019</tr>

                  <tr class="hocky">Học kì hè - năm học 2018-2019</tr>
                  
                  <!-- 19-20 -->
                  <tr class="hocky">Học kì I - Năm học 2019-2020</tr>
             
                  <tr class="hocky">Học kì II - Năm học 2019-2020</tr>
                  
                  <tr class="hocky">Học kì hè - Năm học 2019-2020</tr>
                   
                  <!-- 20-21 -->
                  <tr class="hocky">Học kì I - Năm học 2020-2021</tr>
                  
                  <tr class="hocky">Học kì II - Năm học 2020-2021</tr>
                   
                  <tr class="hocky">Học kì hè - Năm học 2020-2021</tr>
                   
                  <!-- 21-22 -->
                  <tr class="hocky">Học kì I - Năm học 2021-2022</tr>
                  
                  <tr class="hocky">Học kì II - Năm học 2021-2022</tr>
                  
                  <tr class="hocky">Học kì hè - Năm học 2021-2022</tr>
                 
              </tbody>
            </table>         
    </div>
</div>
