<div class="container">
    <div class="col-md-12">
        <button class="custom-btn" (click)="openQuestionForm()" [class.question-form]="isClicked">Thêm câu hỏi</button>
        <form #questionForm="ngForm" action="" class="question-form" [class.toggle]="isClicked" (ngSubmit)="onSubmit(questionForm)">
            <div class="group-input">
                <label for="content">Nội dung câu hỏi</label>
                <textarea ngModel name="content" type="text" id="content"></textarea>
            </div>
            <button class="acp-btn" (click)="openQuestionForm()">Gửi câu hỏi</button>
        </form>
        <hr>
        <div class="list-question">
            <div class="group-question" *ngFor="let question of list_question">
                <div class="toggle" [class.question-form]="isClickedInput">
                    <div class="question-view">{{question.question_content}}</div>         
                    <button class="custom-btn" (click)="openAnswerView(question)" *ngIf="question.list_answer.length===0">Sửa câu hỏi</button> 
                    <button class="custom-btn" (click)="deleteQuestion(question)">Xóa câu hỏi</button>
                </div> 
                <div class="form-update-question question-form" [class.toggle]='isClickedInput' *ngIf="question.list_answer.length===0">
                    <input type="text" [(ngModel)]=content class="input-update" value="{{question.question_content}}">
                    <button class="custom-btn" (click)="updateQuestion(question)">Gửi</button>
               </div>    
                <div class="answer-view" *ngFor="let answer of question.list_answer">{{answer.answer_content}}</div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>