.container {
    margin-top: 10px;
}
.list-question {
    margin-bottom: 10px;
}
/*đóng form*/
.question-form {
    display: none;
}
/*Mở*/
.toggle {
    display: block;
}
label {
    display: block;
}
textarea {
    width: 400px;
    height: 200px;
}
.group-question {
    margin-bottom: 10px;
}
.custom-btn {
    display: inline-block;
    border: 1px solid #485460;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-left: 20px;
    padding: 8px;
}
.custom-btn:hover {
    background-color: #485460;
    color: #FFFFFF;
    box-shadow: 2px 4px 8px black;
}
.close-question-view {
    visibility: none;
}
.question-view {
    display: inline-block; 
    min-width: 700px;
    background-color: #EDECEC;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}
.input-update {
    padding: 8px;
    border-radius: 5px;
    min-width: 700px;
}
/*
.form-update-question {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    padding: 18px;
    top: -40%;
    left:-14%;
    right: -12%;
    bottom: -90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;
}
.form-update-question input {
    border: none;
    padding: 8px;
    margin-right: 20px;
}
*/
