<div class="container-fuild">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="tuition-detail">Học phí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phụ phí</a>
        </li>
      </ul>
          <router-outlet></router-outlet>
</div>
