@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
    width: 100%;
    position: relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

