<h2><b>ĐÔI NÉT VỀ DUY TÂN</b></h2>
<div class="about-dtu">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let item of AboutDTU">
                <div class="slide">
                    <figure>
                        <img class="dtu-images" src="assets/dtu-images/{{item.thumbnail}}" height="200" />
                    </figure> 
                    <div class="content">
                        <h4 class="title"><b>{{item.title}}</b></h4>    
                        <span class="pull-left date">{{item.create_date}}</span>
                    <br>
                    
                        <p class="infor" >{{item.short_description}}</p>
                        <button class="btn btn-default">Xem chi tiết</button>
                    </div>
                </div>
            </ng-template>
        
        </owl-carousel-o>
    </div>
</div>