ul li{
  list-style: none;
}
button{
  background:none;
  border: none;
  margin-top: 10px;
  color: white ;
}
.mat-icon:active{
  color:#34495e ;
}
.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}
