<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{teacher.teacher_name}}</h2>
      <h4>{{teacher.email}}</h4>
    </div>
    <img src="https://i.pinimg.com/474x/90/57/0a/90570addee2645866a597530721f37fd.jpg" alt="teacher_avatar">
  </div>
</mat-nav-list>
<mat-divider></mat-divider>
<h2 matSubheader>Lớp Học</h2>
<div *ngFor="let item of classOfTeacher">
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['class',item]" (click)="onClickGetClassId(item)" >
    <mat-icon class="mat-icon-class">class</mat-icon><span class="mat-icon-class-text">{{item}}</span>
  </a>
</div>


