@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Yuji+Mai&display=swap');
.container-fluid {
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007FEA;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
h3 {
    color: #FFFFFF;
    font-family: 'Praise', cursive;
}
/*Search styling*/
.search {
    display: flex;
    padding: 2px;
    margin-right: 10px;
}
.search input {
    min-width: 300px;
    padding: 4px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #555;
  }
.search-btn {
    display: inline-block;
    border: none;
    background-color: #74b9ff;
    padding-left: 20px;
    padding-right: 20px;
}
.search-btn:hover {
    background-color: #0984e3;
}

.logout {
    display: flex;
    align-items: center;
}
i {
    font-size: 24px;
}
.logout-btn {
    border: none;
    background-color: #007FEA;
}
.logout-btn:hover {
    font-weight: 500;
}
ul {
    background-color: #EDECEC;
}
.navbar-header {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.nav {
    justify-content: center;
}
.nav-link {
    color: black;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    margin-left: 20px;
}
.nav-link:hover {
    border: none;   
    font-weight: 600;
}
.notification {
    display: flex;
    align-items: center;
}
.notification-text {
    margin-bottom: 0;
}
.link-notification {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.notification-btn {
    border: none;
    background-color: #007FEA;
    color: black;
}
.notification-btn:hover {
    
    font-weight: 700;
}
.container-sub-menu {
    position: relative;
}
.sub-nav-item:first-child {
    border-bottom: 1px solid black;
    margin-left: 0;
}
.sub-nav-item {
    list-style-type: none;
    padding: 8px;
}
.sub-nav-item:hover {
    font-weight: 600;
    cursor: pointer;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 43px;
    left: 10px;
    z-index: 10;
    padding-left: 0;
}
.container-sub-menu:hover > .sub-menu {
    display: block;
}
