<div class="container-fluid">
    <div class="header">
        <div class="navbar-header left-20">
            <a href="" class="navbar-brand">
                <h3>DTU Connection System</h3>
            </a>
        </div>
        <div class="search">
            <input type="text" placeholder="tìm kiếm"><button class="search-btn"><i class="fas fa-search"></i></button>
        </div>
        <div class="notification">
            <i class="far fa-bell"></i>
            <p class="notification-text"><a href="" class="link-notification"></a></p> <button class="notification-btn">Xem thông báo</button>
        </div>
        <div class="logout left-20">
            <i class="far fa-user-circle"></i>
            <button class="logout-btn">Thoát đăng nhập</button>
        </div>
    </div>
    <div class="header-menu">
        <div class="navbar-collapse">
            <ul class="nav nav-tab">
                <li class="nav-item"><a href="" class="nav-link" routerLink="home">Trang chủ</a></li>
                <li class="nav-item"><a href="" class="nav-link" routerLink="tuition">Học phí</a></li>
                <li class="nav-item"><a href="" class="nav-link" routerLink="study">Học tập</a></li>
                <li class="nav-item"><a href="" class="nav-link" routerLink="contact">Liên hệ</a></li>

                <li class="nav-item container-sub-menu">
                    <a href="#" class="nav-link" style="display: inline-block">Đặt câu hỏi</a><i class="fas fa-sort-down"></i>
                    <ul class="sub-menu">
                        <li class="sub-nav-item"><a class="sub-nav-link" href=""></a>Câu hỏi thường gặp</li>
                        <li class="sub-nav-item"><a class="sub-nav-link" href="" routerLink="question">Câu hỏi của bạn</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="" class="nav-link" [routerLink]="parent.parent_id">Thông tin tài khoản</a></li>
            </ul>
        </div>
    </div>
</div>
