<div class="container-fuild">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="apartment">Phòng ban</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Thông tin cố vấn học tập</a>
          </li>
      </ul>
          <router-outlet></router-outlet>
</div>
