<div class="container">
    <div class="row">        
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="contact-group row">                   
                        <div class="image col-md-3 col-sm-3 col-xs-12">
                            <img src="../../../../assets/apartment/dhduytan.jpg" alt="Đại học Duy Tân" class="img-thumbnail">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="title_contact">
                                <h3>Đại học Duy Tân</h3>
                            </div>
                            <div class="">
                                <ul>
                                    <li>
                                        <span>Địa chỉ:</span>
                                        254 Nguyễn Văn Linh, Quận Thanh Khê - Tp. Đà Nẵng
                                    </li>
                                    <li>
                                        <span> Điện thoại: </span>
                                        (+84) 236.3650403 - (+84) 236.3827111
                                    </li>
                                    <li>
                                        <span>Fax: </span>
                                        (+84).236.3.650443
                                    </li>
                                    <li>
                                        <span>Website: </span>
                                        <a href="http://duytan.edu.vn">http://duytan.edu.vn</a>
                                    </li>
                                    <li>
                                        <span>Tuyển sinh: </span>
                                        <a href="http://tuyensinh.duytan.edu.vn">http://tuyensinh.duytan.edu.vn</a>
                                    </li>
                                    <li>
                                        <span>Thông tin Tuyển sinh: </span>
                                        <a href="http://nhungdieucanbiet.edu.vn">http://nhungdieucanbiet.edu.vn</a>
                                    </li>
                                </ul>
                            </div>
                        </div>                   
                </div>
                <div class="contact-group row">
                    <div class="image col-md-3 col-sm-3 col-xs-12">
                        <img src="../../../../../../assets/apartment/vanphong.jpg" alt="Văn phòng trường Đại học Duy Tân" class="img-thumbnail">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="title_contact">
                            <h3>Văn phòng trường Đại học Duy Tân</h3>
                        </div>
                        <div class="">
                            <ul>
                                <li>
                                    <span>Địa chỉ: </span>
                                    03 Quang Trung, Quận Hải Châu - Tp. Đà Nẵng
                                </li>
                                <li>
                                    <span> Điện thoại: </span>
                                    (+84) 236.3650403 - (+84) 236.3827111
                                </li>
                                <li>
                                    <span>Fax: </span>
                                    0236.3.650443
                                </li>
                                <li>
                                    <span>Website: </span>
                                    <a href="http://vanphong.duytan.edu.vn">http://vanphong.duytan.edu.vn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contact-group row">
                    <div class="image col-md-3 col-sm-3 col-xs-12">
                        <img src="../../../../assets/apartment/trungtamtuyensinh.jpg" alt="Trung tâm tuyển sinh trường Đại học Duy Tân" class="img-thumbnail">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="title_contact">
                            <h3>Trung tâm tuyển sinh</h3>
                        </div>
                        <div class="">
                            <ul>
                                <li>
                                    <span>Địa chỉ:</span>
                                    254 Nguyễn Văn Linh, Quận Thanh Khê - Tp. Đà Nẵng
                                </li>
                                <li>
                                    <span> Điện thoại: </span>
                                    0236.3.650403 - 0236.3.653561
                                </li>
                               
                                <li>
                                    <span>Website: </span>
                                    <a href="http://tuyensinh.duytan.edu.vn">http://tuyensinh.duytan.edu.vn</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contact-group row">
                    <div class="image col-md-3 col-sm-3 col-xs-12">
                        <img src="../../../../assets/apartment/phongdaotao.jpg" alt="Phòng đào tạo Đại học Duy Tân" class="img-thumbnail">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="title_contact">
                            <h3>Phòng Đào tạo</h3>
                        </div>
                        <div class="">
                            <ul>
                                <li>
                                    <span>Địa chỉ:</span>
                                    209 Phan Thanh, Quận Thanh Khê - Tp. Đà Nẵng
                                </li>
                                <li>
                                    <span> Điện thoại: </span>
                                    0236.2.243.775
                                </li>
                                
                                <li>
                                    <span>Website: </span>
                                    <a href="http://pdaotao.duytan.edu.vn">http://pdaotao.duytan.edu.vn</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contact-group row">
                    <div class="image col-md-3 col-sm-3 col-xs-12">
                        <img src="../../../../assets/apartment/phongcontacsinhvien.jpg" alt="Phòng công tác sinh viên Đại học Duy Tân" class="img-thumbnail">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 infor-contact">
                        <div class="title_contact">
                            <h3>Phòng công tác sinh viên</h3>
                        </div>
                        <div class="">
                            <ul>
                                <li>
                                    <span>Địa chỉ:</span>
                                    209 Phan Thanh, Quận Thanh Khê - Tp. Đà Nẵng
                                </li>
                                <li>
                                    <span> Điện thoại: </span>
                                    0236.3.656.109
                                </li>
                                
                                <li>
                                    <span>Website: </span>
                                    <a href="http://hssv.duytan.edu.vn">http://hssv.duytan.edu.vn</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Map -->
            <div class="col-md-6">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.1143093591377!2d108.20696146523994!3d16.059556938886924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96e408c6b0419760!2sDuy+Tan+University!5e0!3m2!1sen!2s!4v1499476157919" frameborder="0" width="100%" height="450px" style="border: 0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>