.height-custom {
    min-height: 400px;
}

h4 {
    margin-top: 32px;
    text-align: center;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}

span {
    font-weight: bold;
}

.btn {
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: #7ed6df;
}

.btn:hover {
    background-color: #22a6b3;
    color: #fff;
}
.btn-info {
    margin-right: 10px;
}
.btn-changePass {
    margin-left: 10px;
}
.btn-primary {
    margin-top: 10px;
    color: black;
}
.toggle {
    display: none;
}
.open-btn-group {
    display: none;
}
.open-form {
    display: block;
    position: relative;
    animation-name: open;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes open {
    0%   { opacity: 0.2;}
    25%  { opacity: 0.4;}
    50%  { opacity: 0.6;}
    75%  { opacity: 0.8;}
    100% { opacity: 1;}
}
.close-btn {
    display: none;
}
.form-infomation {  
    border-radius: 5px;
    margin-top: 10px;
}


p {
    font-family: Lato;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }
.delete-btn {
    border: none;
    padding: 8px;
    background-color: #7ed6df;
}
.delete-btn:hover {
    background-color: #22a6b3;
}