<div class="container height-custom">
    <div class="row">
        <div class="col-md-12">
            <h4>Thông tin cá nhân</h4>
            <hr>
        </div>
        <div class="col-md-9">
            <ul>
                <li><span>Họ tên phụ huynh: </span>{{parent.parent_full_name}}</li>
                <li *ngFor="let student of parent.list_student"><span>Sinh viên: </span>{{student.student_name}} - {{student.student_id}}</li>
                <li><span>Địa chỉ: </span>{{parent.address}}</li>
                <li><span>Số điện thoại: </span>{{parent.phone}}</li>
            </ul>
            <div class="btn-group" [class.toggle]="isChecked">
                <button (click)="changePassToggle2()" class="btn btn-info active">Cập nhật thông tin</button>
                <button (click)="changePassToggle()" class="btn btn-changePass">Thay đổi mật khẩu</button>
            </div>
            <!-- Form change password -->
            <form class="toggle" [class.open-form]="isChecked">
                <div class="form-group">
                  <label for="exampleInputEmail1">Mật khẩu cũ</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mật khẩu mới</label>
                  <input type="password" class="form-control"  >
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control">
                  </div>
                <button type="submit" class="btn btn-primary" (click)="changePassToggle()">Đồng ý</button>
              </form>

              <!-- form change infomation -->
              <form #accountForm="ngForm" (ngSubmit)="onSubmit(accountForm)" class="form-infomation open-btn-group" [class.open-form]="isClicked">
                  <div class="form-group-form-info">
                      <label for="name">Họ tên</label>
                      <input ngModel name="name" type="text" class="form-control">
                  </div>
                  <div class="form-group-form-info">
                      <label for="address">Địa chỉ</label>
                      <input ngModel name="address" type="text" class="form-control">
                  </div>
                  <div class="form-group-form-info">
                      <label for="phone">Số điện thoại</label>
                      <input ngModel name="phone" type="text" class="form-control" id="phone">
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="changePassToggle2()">Cập nhật</button>
              </form>
              <div *ngIf="isSubmitted">Cập nhật thành công</div>
        </div>
        <div class="col-md-3">
            
            <label class="hoverable" for="fileInput">
                <img [src]="imgUrl ? imgUrl : '../../../../assets/parent-avt/Tommys3.jpg'"> 
                <div class="hover-text">Đổi ảnh đại diện</div>
                <div class="background"></div>
              </label>
              <br/>
              <input id="fileInput" type='file' (change)="onSelectFile($event)">
              <button class="delete-btn" *ngIf="imgUrl" (click)="delete()" >delete</button>
        </div>
    </div>
</div>
