.class-headder{
  text-align: center;
}
.thong-bao{
  padding: 20px;
  color: red;
  font-size: 14px;
}
.btn{

}
.mat-badge-content {
  background: #304ffe;
  color: white;
}

/*modal styling*/
label {
  display: block;
  margin: 0 auto;
  padding: 8px;
}
.btn-answer{
  margin-top: 15px;
}
