<div class="class-headder">
  <h1>{{Student.class_name}}</h1>
  <h3>Tổng số sinh viên :{{Student.list_student_of_class.length}}</h3>
</div>
<div class="content">
  <div class="header-content">
    <mat-tab-group>
      //Tab danh sách sinh viên
      <mat-tab label="Danh Sách Sinh Viên">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th style="width: 110px">Name</th>
            <th>Ngày Sinh</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Phụ Huynh</th>
            <th>SĐT Phụ Huynh</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of Student.list_student_of_class">
            <td>{{student.student_id}}</td>
            <td>{{student.student_name}}</td>
            <td>{{student.student_birthday}}</td>
            <td>{{student.student_email}}</td>
            <td>{{student.student_address}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.parent_full_name}}</td>
            <td>{{student.parent_phone}}</td>
          </tr>
          </tbody>
        </table>
      </mat-tab>

      //Tab hỏi đáp
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{listQuestion.length}}" matBadgeOverlap="false">
            Hỏi Đáp
          </span>
        </ng-template>
        <mat-list *ngFor="let question of listQuestion; index as i">
          <!-- đặt đk để hiện câu hỏi chưa có tl -->

          <mat-list-item>
            <mat-icon>contact_support</mat-icon>
            {{question.question_content}} </mat-list-item>

          <hr>
          <!-- Modal -->
          <div class="">
            <form name="questionForm" #questionForm="ngForm" (ngSubmit)="sendAnswer(questionForm)">
              <div class="" form-group>
                <label>Câu trả lời</label>
                <textarea [(ngModel)]="list_answer[i]" name="content" id="answer-content" cols="30" rows="10"
                          class="form-control"></textarea>
              </div>
              <button class="btn btn-primary btn-answer" (click)="getID(question)">Gửi câu trả lời</button>
            </form>
          </div>
        </mat-list>
      </mat-tab>

      //Tab tạo thông báo gửi smsm
      <mat-tab label="Tạo Thông Báo">
        <form name="smsForm" #smsForm="ngForm" (ngSubmit)="onClickSubmit(smsForm)">
          <div class="form-group">
            <label for="sms-content" class="thong-bao">Thông báo này sẽ được gửi đến tất cả phụ huynh trong
              lớp {{Student.class_name}} !!</label>
            <p for="sms-content">Nội dung thông báo : </p>
            <textarea [(ngModel)]="content" name="content" id="sms-content" cols="30" rows="10"
                      class="form-control"></textarea>
          </div>
          <button class="btn btn-primary">Gửi thông báo</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
