<div class="news">
    <div class="container">
        <h2>TIN TỨC SỰ KIỆN NỔI BẬT</h2>
        <div class="tin-tuc">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let item of AllNews">
                    <div class="slide">
                        <figure>
                            <img class="news-images" src="assets/news-images/{{item.thumbnail}}" height="200" />
                        </figure>
                        <div class="content">
                            <h4 class="title "><b>{{item.title}}</b></h4>                      
                            <span class="date pull-left">{{item.create_date}}</span>
                            <br>
                            <p class="infor">{{item.short_description}}</p>
                            <button (click)="newDetails(item.id)" class="btn btn-default">Xem chi tiết</button>
                        </div>
                    </div>
                </ng-template>           
            </owl-carousel-o>
        </div>
    </div>
    
</div>
