.col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin: 20px 0;
}
.container {
    min-height: 510px;
    margin-top: 10px;
    
}
.hocky {
    color: #eb4d4b;
    font-size: 20px;
}
.table th {
    background-color: #74b9ff;
    text-align: center;
}
.table td {
    text-align: center;
}