<div class="container-fuild">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Câu hỏi thường gặp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Câu hỏi bạn đã đặt</a>
        </li>
      </ul>
          <router-outlet></router-outlet>
</div>
