.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
.notification {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    border-bottom: 1px solid #95afc0;
    background-color: #d1ccc0;
}
.notification-text {
    margin-bottom: 0;
}
.link-notification {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.notification-btn {
    border: none;
    background-color: #FFFFFF;
    color: #22a6b3;
}
.notification-btn:hover {

    font-weight: 700;
}
